In [1]:
import sys, os

src = r"C:\Users\user\Desktop\Coding mo\AutoML proj1\task 1\AutoML Project Molham\src" # copy the location of the folder that has paths.py file using (ctrl + shift + C ) and paste it here    
sys.path.append(src)

from paths import *

get_paths()

sys.path.append(SRC_PATH)

from utils import *

In [10]:
def concat_summaries(metrics_path, new_summary_path):
    summaries_dict, eda_dict = loop_data_files(metrics_path)
    data_names = [i.split('.')[0] for i in data_dict_classification_only.keys()]
    dfs_names = list(summaries_dict.keys())

    for data_name in data_names:
        summary_rows = []
        matching_files = [file_name for file_name in dfs_names if data_name in file_name]
        print(matching_files)

        for seed in RANDOM_SEEDS:
            for fname in matching_files:
                df = summaries_dict[fname]
                if 'seed' not in df.columns:
                    continue  

                rows = df[df['seed'] == seed]

                for a, r in rows.iterrows():
                    row_dict = {
                        'dataset': r.get('dataset', data_name),
                        'seed': r.get('seed', seed),
                        'framework': fname.split('_')[0],
                        'accuracy': round(r.get('accuracy', None), 4) if r.get('accuracy', None) is not None else None,
                        'f1': round(r.get('f1', None), 4) if r.get('f1', None) is not None else None,
                        'precision': round(r.get('precision', None), 4) if r.get('precision', None) is not None else None,
                        'recall': round(r.get('recall', None), 4) if r.get('recall', None) is not None else None,
                        'runtime': round(r.get('runtime', None), 4) if r.get('runtime', None) is not None else None
                    }

                    if 'fold' in df.columns:
                        row_dict['fold'] = r['fold']

                    summary_rows.append(row_dict)

        comparison_summary = pd.DataFrame(summary_rows)

        out_path = os.path.join(new_summary_path, f"task1_automl_comparison_{data_name}.csv")
        comparison_summary.to_csv(out_path, index=False)

concat_summaries(AUTOML_METRICS_PATH, TASK1_COMPARISONS_PATH)

['autogluon_modeldata_summary.csv', 'flaml_modeldata_summary.csv', 'h2o_modeldata_summary.csv', 'lightautoml_modeldata_summary.csv']
['autogluon_titanic_summary.csv', 'flaml_titanic_summary.csv', 'h2o_titanic_summary.csv', 'lightautoml_titanic_summary.csv']
['autogluon_train_summary.csv', 'flaml_train_summary.csv', 'h2o_train_summary.csv', 'lightautoml_train_summary.csv']
['autogluon_wine_summary.csv', 'flaml_wine_summary.csv', 'h2o_wine_summary.csv', 'lightautoml_wine_summary.csv']

In [11]:
for dataset_name in data_dict_classification_only.keys():
    dataset_base = dataset_name.replace('.csv', '')
    
    csv_file_1 = os.path.join(TASK1_COMPARISONS_PATH, f"task1_automl_comparison_{dataset_base}.csv")
    
    df1 = pd.read_csv(csv_file_1)
    
    print(f"CSV for {dataset_base}: task1_automl_comparison_{dataset_base}.csv")
    display(df1)

CSV for modeldata: task1_automl_comparison_modeldata.csv

         dataset  seed    framework  accuracy      f1  precision  recall  runtime
0  modeldata.csv    42    autogluon    0.9274  0.9275     0.9275  0.9274   37.111
1  modeldata.csv    42        flaml    0.9274  0.9275     0.9276  0.9274   48.746
2  modeldata.csv    42          h2o    0.9278  0.9285     0.9311  0.9278   31.649
3  modeldata.csv    42  lightautoml    0.9330  0.9331     0.9332  0.9330   36.683
4  modeldata.csv   123    autogluon    0.9274  0.9275     0.9275  0.9274   39.331
5  modeldata.csv   123        flaml    0.9296  0.9298     0.9301  0.9296   47.668
6  modeldata.csv   123          h2o    0.9303  0.9308     0.9324  0.9303   31.039
7  modeldata.csv   123  lightautoml    0.9334  0.9335     0.9336  0.9334   35.086

CSV for titanic: task1_automl_comparison_titanic.csv

       dataset  seed    framework  accuracy      f1  precision  recall  runtime
0  titanic.csv    42    autogluon    0.7933  0.7921     0.7922  0.7933   18.873
1  titanic.csv    42        flaml    0.7765  0.7650     0.7919  0.7765   33.414
2  titanic.csv    42          h2o    0.7989  0.7974     0.7978  0.7989   31.319
3  titanic.csv    42  lightautoml    0.7989  0.7897     0.8140  0.7989   20.090
4  titanic.csv   123    autogluon    0.7933  0.7921     0.7922  0.7933   14.659
5  titanic.csv   123        flaml    0.8045  0.8022     0.8041  0.8045   33.334
6  titanic.csv   123          h2o    0.8045  0.8015     0.8049  0.8045   30.752
7  titanic.csv   123  lightautoml    0.7989  0.7885     0.8181  0.7989   23.733

CSV for train: task1_automl_comparison_train.csv

     dataset  seed    framework  accuracy      f1  precision  recall  runtime
0  train.csv    42    autogluon    0.9667  0.9664     0.9694  0.9667    8.201
1  train.csv    42        flaml    1.0000  1.0000     1.0000  1.0000   30.122
2  train.csv    42          h2o    0.0000  0.0000     0.0000  0.0000   31.409
3  train.csv    42  lightautoml    1.0000  1.0000     1.0000  1.0000   23.251
4  train.csv   123    autogluon    0.9667  0.9664     0.9694  0.9667    7.873
5  train.csv   123        flaml    1.0000  1.0000     1.0000  1.0000   30.113
6  train.csv   123          h2o    0.0000  0.0000     0.0000  0.0000   30.933
7  train.csv   123  lightautoml    1.0000  1.0000     1.0000  1.0000   22.625

CSV for wine: task1_automl_comparison_wine.csv

    dataset  seed    framework  accuracy   f1  precision  recall  runtime
0  wine.csv    42    autogluon       1.0  1.0        1.0     1.0    7.007
1  wine.csv    42        flaml       1.0  1.0        1.0     1.0   30.315
2  wine.csv    42          h2o       0.0  0.0        0.0     0.0   31.604
3  wine.csv    42  lightautoml       1.0  1.0        1.0     1.0   22.982
4  wine.csv   123    autogluon       1.0  1.0        1.0     1.0    6.441
5  wine.csv   123        flaml       1.0  1.0        1.0     1.0   30.340
6  wine.csv   123          h2o       0.0  0.0        0.0     0.0   30.888
7  wine.csv   123  lightautoml       1.0  1.0        1.0     1.0   20.695